{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>{{ title }}</title>
{% endblock meta %}
{% block content %}
<div class="bg-gray-900 w-full h-full p-6">
  <!-- head picture -->
  <div class="bg-cover w-full h-[200px]"
    style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230518/pngtree-red-sports-car-on-the-track-image_2530670.jpg')">
     <div class="bg-white/30 backdrop-blur-sm p-5">
       <div class="absolute inset-0 bg-black opacity-50"></div>
          <div class="relative z-10 flex items-center justify-center h-full">
            <div class="w-40 h-40">
              <img src="{% static 'image/logo.png' %}" alt="No product available" class="w-full h-full object-contain">
            </div>
          </div>
        </div>
      </div>
    <div>
  </div>

  <div class="mt-6 flex flex-row justify-between">
     <div><h1 class="text-yellow-400 text-4xl font-serif" style="font-family: 'Times New Roman', Times, serif;">Latest Articles</h1></div>
     <div class="w-full flex items-center"><hr class="border-2 border-yellow-400 w-full"></div>
  </div>

  <div>
    
  </div>
</div>

<!-- <h1>{{ title }}</h1>

<a href="{% url 'article:create_news' %}">
  <button>+ Add News</button>
</a>

{% if user.is_authenticated %}
<a href="{% url 'account:logout' %}">
  <button>Logout</button>
</a>
<br>
<p>Current user : {{ username }}</p>
{% else %}
<a href="{% url 'account:login' %}">
  <button>Login</button>
</a>
{% endif %}

<hr>

{% if not news_list %}
<p>Belum ada data berita pada football news.</p>
{% else %}

{% for news in news_list %}
<div>
  <h2><a href="{% url 'article:show_news' news.id %}">{{ news.title }}</a></h2>

  <p><b>{{ news.get_category_display }}</b>{% if news.is_featured %} | 
    <b>Featured</b>{% endif %}{% if news.is_news_hot %} | 
    <b>Hot</b>{% endif %} | <i>{{ news.created_at|date:"d M Y H:i" }}</i> 
    | Views: {{ news.news_views }}</p>

  {% if news.thumbnail %}
  <img src="{{ news.thumbnail }}" alt="thumbnail" width="150" height="100">
  <br />
  {% endif %}

  <p>{{ news.content|truncatewords:25 }}...</p>

  <p><a href="{% url 'article:show_news' news.id %}"><button>Read More</button></a>
    {% if user.is_authenticated and news.user == user %}
    <a href="{% url 'article:edit_news' news.pk %}">
        <button>
            Edit
        </button>
    </a>
    <a href="{% url 'article:delete_news' news.pk %}">
      <button>
          Delete
      </button>
    </a>
    {% endif %}
  </p>

</div>

<hr>
{% endfor %}

{% endif %} -->
{% endblock content %}