{% extends 'base.html' %}

{% block content %}
<div class="w-full flex justify-center">
  <div class="container flex flex-col items-center p-4 mt-4">
    {% include 'admin/admin-header.html' %}
    <div class="bg-white rounded-lg shadow-md p-6 m-4 w-full border border-gray-200">
      <div class="w-full flex justify-between">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Recent Activity Logs</h2>
        <div class="flex items-center gap-2">
            <p>Per page: </p>
            <select id="per-page-select" class="border border-black rounded-sm">
                <option selected value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
        </div>
      </div>
      <table class="w-full table-auto">
        <thead>
          <tr>
            <th class="px-4 py-2 border-b border-gray-300 text-left text-sm font-medium text-gray-700">Timestamp</th>
            <th class="px-4 py-2 border-b border-gray-300 text-left text-sm font-medium text-gray-700">User</th>
            <th class="px-4 py-2 border-b border-gray-300 text-left text-sm font-medium text-gray-700">Action</th>
            <th class="px-4 py-2 border-b border-gray-300 text-left text-sm font-medium text-gray-700">Int.</th>
          </tr>
        </thead>
        <tbody id="tbody">
          <tr>
            <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-900">2024-09-10 14:23:45</td>
            <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-900">admin1</td>
            <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-900">Created a new article</td>
            <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-900">...</td>
          </tr>
          <tr>
            <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-900">2024-09-10 13:15:22</td>
            <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-900">admin2</td>
            <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-900">Deleted a user account</td>
            <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-900">...</td>
          </tr>
          <tr>
            <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-900">2024-09-10 12:05:10</td>
            <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-900">admin1</td>
            <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-900">Updated product details</td>
            <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-900">...</td>
          </tr>
        </tbody>
      </table>
      <div id="page-btns" class="w-full flex justify-center pt-3 gap-2">
        <button class="px-3 py-2 bg-slate-200 rounded-md">
            1
        </button>
        <button class="px-3 py-2 bg-black text-white rounded-md">
            2
        </button>
        <button class="px-3 py-2 bg-slate-200 rounded-md">
            3
        </button>
      </div>
    </div>
  </div>
  <script>
    const LOGS_ENDPOINT = "{% url 'admin:get_action_logs' %}";
    const LOGS_DEL_ENDPOINT = "{% url 'admin:delete_action_logs' %}"

    const perPageSelect = document.getElementById("per-page-select");
    const tableBody = document.getElementById("tbody");
    const pageBtns = document.getElementById("page-btns");

    let perPage = 20;
    let page = 1;

    function setLoading() {
        tableBody.innerHTML = `<tr class="loading">
            <td colspan="4" class="text-center pt-2">
              <div>
                {% include 'components/loading-svg.html' %}
              </div>
            </td>
        </tr>`;

        pageBtns.innerHTML = `<div class="loading">{% include 'components/loading-svg.html' %}</div>`;
    }

    async function fetchLogs() {
        setLoading();

        const data = await fetch(`${LOGS_ENDPOINT}?page=${page}&per_page=${perPage}`);

        /** @type { { total_count: number; datas: { id: string; timestamp: string; actor: string; action: string; }[]; } } */
        const result = await data.json();

        tableBody.innerHTML = "";

        // Isi data ke tabel
        if (result.datas.length) {
            for (const data of result.datas) {
                const row = document.createElement("tr");
                row.innerHTML = `<td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-900">${data.timestamp}</td>
                <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-900">${data.actor}</td>
                <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-900">${data.action}</td>`;

                // TODO: Add interaction buttons here...
                const delBtn = document.createElement("button");
                delBtn.className = "px-3 py-2 border border-red-700";
                delBtn.innerText = "Hapus";

                delBtn.addEventListener("click", () => {
                    showSureModal("Log yang sudah dihapus tidak bisa dipulihkan.", "Hapus", async () => {
                        const form = new FormData();
                        form.append("ids", data.id);

                        const resp = await fetch(LOGS_DEL_ENDPOINT, {
                            method: "POST",
                            body: form
                        });

                        if (resp.ok) {
                            showToast("Log berhasil dihapus!", "", "success");
                            hideSureModal();
                            fetchLogs();
                        }
                    });
                });

                const tableData = document.createElement("td");
                tableData.className = "px-4 py-1 border-b border-gray-300 text-sm text-gray-900";
                tableData.appendChild(delBtn);

                row.appendChild(tableData);
                tableBody.appendChild(row);
            }
        } else {
            const row = document.createElement("tr");
            row.innerHTML = `<td colspan="4" class="text-center text-sm pt-2"><p>No logs recorded yet.</p></td>`;
            tableBody.appendChild(row);
        }

        pageBtns.innerHTML = "";

        const maxPage = Math.ceil(result.total_count / perPage);

        // Buat tombol-tombol pagination
        if (page > 1 && page <= maxPage) {
            const leftBtn = document.createElement("button");
            leftBtn.className = "px-3 py-2 bg-slate-200 rounded-md";
            leftBtn.innerText = page - 1;
            leftBtn.addEventListener("click", () => {
                page--;
                fetchLogs();
            });
            pageBtns.appendChild(leftBtn);
        }

        const midBtn = document.createElement("button");
        midBtn.className = "px-3 py-2 bg-black text-white rounded-md";
        midBtn.innerText = page;
        pageBtns.appendChild(midBtn);

        if (page+1 >= 1 && page+1 < maxPage) {
            const rightBtn = document.createElement("button");
            rightBtn.className = "px-3 py-2 bg-slate-200 rounded-md";
            rightBtn.innerText = page+1;
            rightBtn.addEventListener("click", () => {
                page++;
                fetchLogs();
            });
            pageBtns.appendChild(rightBtn);
        }
    }

    fetchLogs();

    perPageSelect.addEventListener("change", e => {
        if (perPage !== +e.target.value) {
            perPage = +e.target.value;
            fetchLogs();
        }
    });
  </script>
</div>
{% endblock %}
