{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block meta %}
<title>SportZone</title>
{% endblock meta%}

{% block content %}
<div>
  {% include 'header.html' %}
  <div class="flex flex-col md:flex-row w-full gap-12 px-12 py-[42px]">
    <div class="flex w-full flex-col gap-[35px]">
      <div class="flex flex-col gap-[30px]">
        <div class="flex flex-col gap-[11px]">
          <div class="flex justify-between items-center">
            <p class="text-2xl font-medium text-left uppercase text-[#202124]">
              Artikel Terbaru
            </p>
            <a href="{% url 'article:show_article' %}" class="flex justify-start items-end relative gap-[5px]">
              <p class="text-sm text-left text-[#202124]">View All</p>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="flex-grow-0 flex-shrink-0 w-5 h-5 relative"
                preserveAspectRatio="none"
              >
                <g clip-path="url(#clip0_75_22)">
                  <g clip-path="url(#clip1_75_22)">
                    <g clip-path="url(#clip2_75_22)">
                      <path
                        d="M6 10H14M14 10L10.5 6.5M14 10L10.5 13.5"
                        stroke="#202124"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </g>
                  </g>
                </g>
                <circle cx="10" cy="10" r="9.5" stroke="#202124"></circle>
                <defs>
                  <clipPath id="clip0_75_22">
                    <rect width="10" height="8" fill="white" transform="translate(5 6)"></rect>
                  </clipPath>
                  <clipPath id="clip1_75_22">
                    <rect width="10" height="8" fill="white" transform="translate(5 6)"></rect>
                  </clipPath>
                  <clipPath id="clip2_75_22">
                    <rect width="10" height="8" fill="white" transform="translate(5 6)"></rect>
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
          <hr class="w-full border-t border-black" />
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-[30px]">
          {% for article in articles %}
            <div
              class="flex flex-col gap-3.5"
            >
              <img {% if article.thumbnail %} src="{{ article.thumbnail }}" {% endif %} class="h-[200px] object-cover w-full bg-gray-300 rounded-md" />
              <div
                class="flex flex-col gap-[7px]"
              >
                <a
                  href="{% url 'article:show_detail' article.id %}"
                  class="text-lg font-medium text-left text-[#202124]"
                >
                  {{ article.title }}
                </a>
                <div
                  class="flex justify-start items-center gap-[11px]"
                >
                  <p class="text-xs text-left text-[#202124]">{{ article.sports_type }}</p>
                  <div class="w-3.5 h-px bg-[#202124]/50"></div>
                  <p class="text-xs text-left text-[#202124]">{{ article.created_at|date:'d/m/Y' }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="flex flex-col gap-[30px]">
        <div
          class="flex flex-col gap-[11px]"
        >
          <div
            class="flex justify-between items-center"
          >
            <p
              class="text-2xl font-medium text-left uppercase text-[#202124]"
            >
              Produk Featured
            </p>
            <a href="{% url 'product:show_products_list' %}" class="flex justify-start items-end gap-[5px]">
              <p class="text-sm text-left text-[#202124]">View All</p>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="flex-grow-0 flex-shrink-0 w-5 h-5 relative"
                preserveAspectRatio="none"
              >
                <g clip-path="url(#clip0_43_70)">
                  <g clip-path="url(#clip1_43_70)">
                    <g clip-path="url(#clip2_43_70)">
                      <path
                        d="M6 10H14M14 10L10.5 6.5M14 10L10.5 13.5"
                        stroke="#202124"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </g>
                  </g>
                </g>
                <circle cx="10" cy="10" r="9.5" stroke="#202124"></circle>
                <defs>
                  <clipPath id="clip0_43_70">
                    <rect width="10" height="8" fill="white" transform="translate(5 6)"></rect>
                  </clipPath>
                  <clipPath id="clip1_43_70">
                    <rect width="10" height="8" fill="white" transform="translate(5 6)"></rect>
                  </clipPath>
                  <clipPath id="clip2_43_70">
                    <rect width="10" height="8" fill="white" transform="translate(5 6)"></rect>
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
          <hr class="w-full border-t border-black" />
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-[30px]">
          {% for product in products %}
            <div
              class="flex flex-col gap-3.5 border border-black"
            >
              <img src="{{ product.thumbnail }}" class="h-[200px] object-cover w-full bg-gray-300 rounded-md" />
              <div
                class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-[254px] relative gap-[7px] px-2 py-3"
              >
                <a
                  href="{% url 'product:show_product_detail' product.id %}"
                  class="self-stretch flex-grow-0 flex-shrink-0 w-[244px] text-lg font-medium text-left text-[#202124]"
                >
                  {{ product.name }}
                </a>
                <div
                  class="flex justify-start items-center flex-grow-0 flex-shrink-0 relative gap-[11px]"
                >
                  <p class="flex-grow-0 flex-shrink-0 text-xs text-left text-[#202124]">
                    Rp {{ product.price|intcomma }}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}